*.o
*.obj
*.so
*.exe
*.swp
*.swo
*.wdb
*.wcfg
jks.*
*.prj
TestResults
*.log
*.protoinst
build_dir.*
_x_temp.*
.Xil
sample_*.ini
emconfig.json
profile*.csv
timeline*.csv
opencl_*.csv
*xclbin.run_summary
reports
