/*
#
# // SPDX-License-Identifier: BSD-3-CLAUSE
#
# (C) Copyright 2018, Xilinx, Inc.
#
*/

body {
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: #333;
}

#header {
  margin-top: 70px;
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
#header .title {
  font-size: 60px;
  color: #bbb;
  padding: 0px 60px;
}
#header img, #header .title {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

#canvas {
  margin-top: 30px;
  position: relative;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  /*
  border: 1px solid red;
  */
}
#model {
  background-image: url(media/alveo-u200.png);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 395px;
  z-index: 10;
  position: absolute;
  top: -2px;
  left: 0px;
}
#device {
  /* aspect ratio: w/h = 0.349 */
  background-image: url(media/f1card.jpg);
  background-size: cover;
  background-position: center;
  width: calc(365px * 0.349);
  height: 393px;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 233px;
}

#left-bar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 400px;
  width: 360px;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
}
#left-bar .title {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ccc;
  text-align: right;
}
#left-bar .title1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ccc;
  text-align: right;
}
#left-bar .metrics-val, 
#left-bar .metrics-label
{
  display: inline-block;
  color: #bbb;
}
#left-bar .metrics-label
{
  width: 190px;
  text-align: right;
  font-size: 24px;
}
#left-bar .metrics-val
{
  font-size: 36px;
  text-align: right;
  width: 160px;
}

#left-bar .network {
  /*display: none;*/
  margin-top: 40px;
  font-size: 35px;
  color: #ddd;
  text-align: right;
}
#left-bar .network .c1 {
  color: #4885ed
}
#left-bar .network .c2 {
  color: #db3236
}
#left-bar .network .c3 {
  color: #f4c20d
}
#left-bar .network .c4 {
  color: #3cba54
}
#left-bar .asterisk-label
{
  font-size: 15px;
  margin-top: 40px;
  color: #bbb;
}
#stage {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 840px;
  white-space: nowrap;
}
#stage .body {
  margin-top: 22px;
  color: #bbb;
}
#stage .body img {
  max-width: 969px;
}

.img-spinner-container {
  background-color: white;
  position: relative;
  padding: 10px; 
  border: 1px solid #666;
  display: inline-block;
  vertical-align: top;
  color: #aaa;

  position: absolute;
  top: 270px;
  left: -175px;
  z-index: 20;
}
.img-spinner {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.img-spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: center;
}

.img-cards {
  display: inline-block;
  vertical-align: top;
}
.img-cards .card {
  background-color: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 360px;
  padding: 15px;
  border: 1px solid #aaa;
}
.img-cards .img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-cards .labels {
  margin-top: 15px;
}
.img-cards .labels .label {
  white-space: nowrap;
  font-family: monospace;
  font-size: 18px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.img-cards .labels .label .match {
  font-weight: bold;
  background-color: #8fa;
}
.img-cards .expected-label {
  white-space: nowrap;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  margin-bottom: 10px;
}

#device-fps {
  margin-bottom: 10px;
}
#device-fps .wrapper {
}
#device-fps .label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -25px;
  font-size: 25px;
}

#timeline-wrapper {
  width: 785px;
}
#timeline {
  height: 300px; /* 115 */
  height: 700px; /* vu9p */
}

#batch-size {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: #666;
}

.hidden {
  display: none;
}
