<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <script src="{{ url_for('static', filename = 'jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename = 'echarts.js') }}"></script>
    <script src="/static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="static/layui/css/layui.css">
<body>
    <h2 style="font: bold 26px Arial; margin: 18px" align='center'>Xilinx Vitis AI Profiler</h2>
    <div align='center' id="xat-file-manager"></br>
	<table lay-filter="demo">
	  <thead>
	      <tr>
	          <th lay-data="{field:'time', width:190, sort:true, align:'center'}">Uploaded Time</th>
	          <th lay-data="{field:'id', width:80}">ID</th>
	          <th lay-data="{field:'filename'}">File Name</th>
	          <th lay-data="{field:'del', width:80, align:'center'}">Delete</th>
	      </tr>
	  </thead>
	  <tbody>
            {% for f in flist %}
	    <tr>
	        <td>{{ f['ctime'] }}</td>
	        <td><a href="/show?id={{ f['id'] }}">{{ f['id'] }}</a></td>
		<td><a href="/rawfile?id={{ f['id'] }}">{{ f['fn'] }}</a></td>
	        <td align="right">
			<a href="/manage?op=del&id={{ f['id'] }}">
				<i class="layui-icon layui-icon-close" style="font-size: 20px; color: #FE0505;"></i>
			</a>
		</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    </div>
	<script>
    	    var table = layui.table;
	    table.init('demo', {
	      //height: 600,
	      width: 800,
              align: "center",
	      page: {layout: ['prev', 'page', 'next', 'count']},
	      limit: 15
	    });
	</script>
</body>

</html>
