<!DOCTYPE html>
<html>

<head>
    <style>
    .log
    {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 12px;
    }
    </style>
</head>

<body>
    <h1>Upload Success</h1>
    <h1>Processing</h1>
    <div>
        <h2>.....</h2>
        <p id="result";></p>
    </div>
    <script>
	/* Wait 700ms for the backend to setup the task*/
	var t=setTimeout("func()", 700)
	function func() {
		var xhr = new XMLHttpRequest();
        	var log = []
        	processURL = window.location.href;

        	for (var i = 0; i < 500; i++) {
        	    xhr.open("post", processURL, false);
        	    xhr.send(null);
        	    if (xhr.status == 200) {
        	        resp = JSON.parse(xhr.responseText);
        	        var text = document.getElementById("result");
			console.log(resp);
			for (let i of resp["info"])  {
		    	    var newline = document.createElement('p');
			    newline.setAttribute("class","log");
		    	    newline.innerHTML = i;
		    	    text.appendChild(newline);
			    log.push(i)
			}
        	        if (resp["status"] == "finished") {
        	            break;
        	        }
        	    }
        	}

		console.log(log)

        	if (resp["status"] == "finished") {
		    //Should wait for a while before jump
        	    showURL = processURL.replace('process', 'show');
        	    taskId = parseInt(showURL.split('id=')[1])
		    if (resp["retcode"] == 0) {
        	        window.location.href=showURL
		    } else {
        	        var text = document.getElementById("result");
        	        text.innerHTML += "ERROR";
	            }
        	} else {
        	    var text = document.getElementById("result");
        	    text.innerHTML += "ERROR";
        	}
	}
    </script>
</body>

</html>
