<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        div {
            margin: 33px;
        }
        
        input {
            height: 30px;
        }
    </style>
</head>

<body>
    <h2 style="font: bold 26px Arial; margin: 18px" align='center'>Xilinx Vitis AI Profiler</h2>
    <div style="margin-left: 10%; font: 18px Arial">
        <div id="uploader">
            <a href="/manage">Manage Uploaded Files</a>
            <br></br>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" size='75' name="file" />
                <input type="submit" value="Upload" />
            </form>
        </div>
        {% if downloadDeb %}
        <div id="tracePkg"> Xilinx Vitis AI Profiler Trace Tool Package : </br>
            <a href="/examples/pkg">vaitrace.deb</a></br>
            <p>Install:</br> #dpkg <strong>--force-all</strong> -i vaitrace.deb</p>
        </div>
        {% endif %}
        <div id="demo">Example Trace Data Files: </br>
            {% for f in flist %}<a href="/examples/{{ f }}">{{ f }}</a></br>{% endfor %}
        </div>
        <!--
        <div id="readme"> Document: </br>
            <a href="/doc?id=readme">README</a>
        </div>
	-->
    </div>
</body>

</html>