_x_*
build_dir*
emconfig.json
xclbin.run_summary
timeline_trace.csv
profile_summary.csv
reports
xrt.ini
*.swp
*.swo
*.wdb
*.wcfg
*.protoinst
sample_*.ini
jks.*
make_gen_*.ini
TestResults
*.prj
*_sw_emu
*_hw_emu
*_hw
.Xil
*.log
bin_*
obj_*
hls
