# common ignores
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.xml
*.dot
*.png
*.dep
*.bak
*.swo
*.swp
*.bin
*.pb
*~
*.out
*.files
*.pdf
*.pyc

# Self defined
*_demo
*_test
*bak
tags
lib
log
backup
.vscode
build
t[0-9]
install
*checkpoint.ipynb
GPATH
GRTAGS
GTAGS
