*.o
*.obj
*.so
*.exe
*.swp
*.swo
*.wdb
*.wcfg
jks.*
*.log
*.protoinst
build_dir.*
_x_temp.*
.Xil
sample_*.ini
emconfig.json
profile*.csv
timeline*.csv
opencl*.csv
device*.csv
*xclbin.run_summary
reports
_x
*_xo.xsa
run_script.sh
package_hw_emu
hal_log.txt
