*~
build_aarch64_debug
build_aarch64_release
build_debug
build_hisi_debug
build_hisi_release
build_host_debug
build_host_release
build_local
build_release
a.*
build_mingw32_debug
hisi_root/www/regression_scripts/dpb_examples/
libdpb
