absl-py==0.10.0
astor==0.8.1
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.1.1
cycler==0.10.0
Cython==0.29.21
docutils==0.16
gast==0.2.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
importlib-metadata==2.0.0
jeepney==0.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
Markdown==3.2.2
matplot==0.1.9
matplotlib==3.3.2
numpy==1.19.2
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
Pillow==7.0.0
pkginfo==1.5.0.1
progressbar==2.5
protobuf==3.13.0
pycocotools==2.0.2
pycparser==2.20
Pygments==2.7.1
pyloco==0.0.139
pyparsing==2.4.7
python-dateutil==2.8.1
readme-renderer==27.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
SimpleWebSocketServer==0.1.1
six==1.15.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tqdm==4.50.2
twine==3.2.0
typing==3.7.4.3
urllib3==1.25.11
ushlex==0.99.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.2.0
