*.swp
*.swo


*.so
*.o
*.a

*.pb
*.pth
*.ckpt
*.meta
*.h5
*.hdf5
*.ana
*.lic
*.whl

*.pyc
*_pb2.py
*.bak
*.log

__pycache__
build
vai_q_tensorflow/build
vai_q_tensorflow/gen_files
tmp
plan
vai_q_tensorflow.egg-info
debug_build.sh
conda_pkg


vai_q_tensorflow/test_code
